<div style="height: 100%">
  <tn-tabview [data]="mainTabData" [allowViewAll]="true" [(activeIndex)]="activeIndex">
    <ng-template #thongTinChung>
      <crud-form #crudForm [data]="model.data" [setting]="setting" (onFormReady)="_handleFormReady($event)">
      </crud-form>
    </ng-template>
    <ng-template #danhSach>
      <dotnhaphoc-tphoso-danhsach-form [idDotNhapHoc]="model.data._id"></dotnhaphoc-tphoso-danhsach-form>
      <!-- <dotnhaphoc-tphoso [idDotNhapHoc]="model.data._id"> Vì nó dùng ở đây nè LA em chưa hiểu á, hai cái thư mục đó dùng để làm gì á vậy cái thư mục k có danh sách kia
      </dotnhaphoc-tphoso> -->
    </ng-template>
  </tn-tabview>
</div>

<ng-template #buttonTemplate>
  <button *ngIf="!model.data.__disableEdit && !__isFormView" type="button" pButton icon="pi pi-save"
    class="p-button-text" [label]="'Lưu'" (click)="_handleSave($event)"></button>
  <button type="button" pButton icon="pi pi-replay" class="p-button-text p-button-secondary" [label]="'Đóng'" preventTab
    (click)="_handleCancel($event)"></button>
</ng-template>
