<div class="p-inputgroup">
  <span *ngIf="control.prefix" class="p-inputgroup-addon">{{control.prefix}}</span>
  <input *ngIf="control.autoFormat" type="text" pInputText [placeholder]="control.placeholder"
    [attr.disabled]="control.disabled ? true : null" [mask]="'separator'" [thousandSeparator]="''"
    [class]="inputStyleClass" [(ngModel)]="model" (focus)="handleFocus()" (blur)="handleBlur()"
    (change)="handleChangedValue()" />
  <input type="number" pInputText [placeholder]="control.placeholder" [disabled]="control.disabled"
    [class]="inputStyleClass" [(ngModel)]="model" (change)="handleChangedValue()" />
  <span *ngIf="control.suffix" class="p-inputgroup-addon">({{control.suffix}})</span>
</div>
