.view-sinhvien {
  &.has-value {
    cursor: pointer;
    color: #285f8f;
  }
}

::ng-deep thongke-nhaphoc {
  tr.row-summary {
    font-weight: bold;

    td {
      color: red;

      .view-sinhvien {
        &.has-value {
          color: red;
        }
      }

      &:nth-child(2) {
        color: inherit;
      }
    }
  }
}
