<div style="width: 100%; height: 100%">
  <crud-list *ngIf="ready" #crudList [model]="model" [setting]="setting" [dataSource]="model.dataSource"
    (onAdd)="_add($event)" (onEdit)="_edit($event)" (onDelete)="_delete($event)"
    (onReload)="_triggerProcessData($event)" (onReloaded)="_unmarkLoading()">
    <ng-template #buttonAfterToolbar let-rowData="rowData">
      <button type="button" pButton icon="pi pi-file-excel" class="p-button-text p-button p-comment p-button-success"
        label="Xuất báo cáo">
      </button>
    </ng-template>
    <ng-template #countTrangThai let-rowData="rowData" let-col="col">
      <span class="view-sinhvien" [class.has-value]="!!rowData[col.field]"
        (click)="viewChiTietSinhVien(rowData[col.customData.fieldList])">{{rowData[col.field]}}</span>
    </ng-template>
    <ng-template #function let-b="rowData">
      <button type="button" pButton icon="pi pi-bars" class="p-button-text p-button-rounded p-button-success"
        pTooltip="Xem chi tiết" (click)="viewChiTiet(b)"></button>
    </ng-template>
  </crud-list>
</div>

<ng-template #templateFilterSinhVien let-col="col" let-filterTextTemplate="filterTextTemplate">
  <ng-container [ngTemplateOutlet]="filterTextTemplate" [ngTemplateOutletContext]="{col: col}">
  </ng-container>
</ng-template>

<tn-dialog *ngIf="xemChiTietDialogModel.showEditForm" #dialog [header]="xemChiTietDialogModel.header"
  [popupSize]="xemChiTietDialogModel.popupSize" [useDefaultScrollBar]="true"
  (onHide)="xemChiTietDialogModel.showEditForm = false">
  <hosonguoihoc [lstIdNguoiHoc]="xemChiTietDialogModel.data.lstIdNguoiHoc"></hosonguoihoc>
</tn-dialog>
