<div #container class="grid" style="padding: 0.5em">
  <div *ngFor="let schema of setting.schema"
    [class]="'control-container sm:col-12 md:col-' + schema.width + ' row-span-' + schema.rowSpan">
    <ng-container
      *ngTemplateOutlet="controlWithLabel; context: {$implicit: schema, data: data, parentPath: '', fullPath: schema.field}">
    </ng-container>
  </div>
</div>

<p-contextMenu #contextMenu [appendTo]="'body'" [model]="buttonContexts">
</p-contextMenu>

<tn-dialog *ngIf="tableFormShow" #dialog [header]="tableFormTitle" [popupSize]="tableFormPopupSize"
  (onHide)="tableFormShow = false">
  <table-detail-form #formBase [service]="setting.service" [schema]="tableFormSchema" [data]="tableFormData"
    (onSaved)="handleSavedTableRow($event)" (onCancel)="tableFormShow = false">
  </table-detail-form>
</tn-dialog>

<ng-template #controlWithLabel let-schema let-data="data" let-parentPath="parentPath" let-fullPath="fullPath"
  let-index="index">
  <ng-container *ngIf="!checkHidden(schema, data)">
    <div class="label">
      <ng-container *ngIf="schema.label">{{schema.label}} <span *ngIf="schema.required" class="rq">*</span>
      </ng-container>
    </div>
    <div class="control" [class.error]="_errors[schema.field].length > 0">
      <ng-container
        *ngTemplateOutlet="control; context: {$implicit: schema, data: data, parentPath: parentPath, fullPath: fullPath}">
      </ng-container>
    </div>
  </ng-container>
</ng-template>

<ng-template #control let-schema let-data="data" let-parentPath="parentPath" let-fullPath="fullPath" let-index="index">
  <ng-container [ngSwitch]="schema.nameType">
    <ng-container *ngSwitchCase="'TitleSchema'">
      <div class="title-schema">{{schema.text}}</div>
    </ng-container>
    <ng-container *ngSwitchCase="'TextControlSchema'">
      <input [type]="schema.dataFormat" pInputText [disabled]="schema.disabled" [placeholder]="schema.placeholder"
        [(ngModel)]="data[schema.field]" (change)="handleFieldValueChange(schema, $event, 'change', parentPath)" />
    </ng-container>
    <ng-container *ngSwitchCase="'TextAreaControlSchema'">
      <textarea pInputTextarea [disabled]="schema.disabled" [placeholder]="schema.placeholder"
        [style.height]="schema.height" [(ngModel)]="data[schema.field]"
        (change)="handleFieldValueChange(schema, $event, 'change', parentPath)"></textarea>
    </ng-container>
    <ng-container *ngSwitchCase="'DropdownControlSchema'">
      <dropdown [control]="schema" [(ngModel)]="data[schema.field]"
        (onInit)="handleLoadedControl($event, schema, parentPath)"
        (onChanged)="handleFirstChanged(null, schema, parentPath)"
        (onFirstChanged)="handleFirstChanged($event, schema, parentPath)"
        (onDataSourceLoaded)="handleDataSourceLoaded($event, schema, parentPath)">
      </dropdown>
    </ng-container>
    <ng-container *ngSwitchCase="'DateTimeControlSchema'">
      <datetime-picker [control]="schema" [(ngModel)]="data[schema.field]"
        (onInit)="handleLoadedControl($event, schema, parentPath)"
        (onChanged)="handleFieldValueChange(schema, $event, 'change', parentPath)"></datetime-picker>
    </ng-container>
    <ng-container *ngSwitchCase="'CheckBoxControlSchema'">
      <p-checkbox [binary]="true" [(ngModel)]="data[schema.field]" [label]="!schema.hiddenLabel ? schema.label : null">
      </p-checkbox>
    </ng-container>
    <ng-container *ngSwitchCase="'MaskControlSchema'">
      <tn-mask [control]="schema" [(ngModel)]="data[schema.field]"
        (onInit)="handleLoadedControl($event, schema, parentPath)"
        (onChanged)="handleFieldValueChange(schema, $event, 'change', parentPath)">
      </tn-mask>
    </ng-container>
    <ng-container *ngSwitchCase="'FileControlSchema'">
      <file-upload [control]="schema" [(ngModel)]="data[schema.field]"
        (onInit)="handleLoadedControl($event, schema, parentPath)"
        (onChanged)="handleFieldValueChange(schema, $event, 'change', parentPath)"></file-upload>
    </ng-container>
    <ng-container *ngSwitchCase="'TableControlSchema'">
      <div [class]="schema.class">
        <tn-scrollbar class="--has-border" [showScrollHorizontal]="true">
          <p-table class="new-table scr-table table-control" [value]="data[schema.field]"
            [columns]="schema.headerTemplate" [responsive]="true" [scrollable]="false" [rowTrackBy]="trackByFuncId">
            <ng-template pTemplate="colgroup">
              <colgroup>
                <col *ngIf="schema.showNumber" style="width: 40px" />
                <ng-container *ngFor="let subControl of schema.rowTemplate">
                  <col [style.width]="subControl.widthInList" />
                </ng-container>
                <col *ngIf="schema.showFunction" [style.width]="schema.widthFunctionColumn" />
              </colgroup>
            </ng-template>
            <ng-template *ngIf="getComponentByType(prefixCustomHeader + schema.field)" pTemplate="header" let-columns>
              <ng-container *ngTemplateOutlet="getComponentByType(prefixCustomHeader + schema.field),
                context: {$implicit: schema.headerTemplate, crudForm: this, containerSticky: containerSticky}
                ">
              </ng-container>
            </ng-template>
            <ng-template *ngIf="!getComponentByType(prefixCustomHeader + schema.field)" pTemplate="header" let-rowData
              let-columns>
              <tr>
                <th *ngIf="schema.showNumber" style="text-align: center">
                  TT
                  <ng-container *ngTemplateOutlet="containerSticky"></ng-container>
                </th>
                <ng-container *ngFor="let subControl of schema.rowTemplate">
                  <th *ngIf="subControl && !subControl.hidden && subControl.visibleInList"
                    [pTooltip]="subControl.fullLabel || subControl.label" tooltipPosition="top"
                    style="text-align: center;">
                    {{subControl.label}}
                    <ng-container *ngTemplateOutlet="containerSticky"></ng-container>
                  </th>
                </ng-container>
                <th *ngIf="schema.showFunction" class="table-function column-function">
                  <div class="cell-header-function"><span>Chức năng</span></div>
                  <ng-container *ngTemplateOutlet="containerSticky"></ng-container>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
              <tr [pReorderableRow]="ri">
                <td *ngIf="schema.showNumber" class="stt center" style="vertical-align: inherit">
                  <span>
                    {{ri + 1}}
                  </span>
                  <ng-container *ngTemplateOutlet="containerSticky"></ng-container>
                </td>
                <ng-container *ngFor="let subControl of schema.rowTemplate; let i = index">
                  <td *ngIf="subControl && !subControl.hidden && subControl.visibleInList" [class.control-inside]="true"
                    [class]="subControl.class" [class.center]="subControl.textAlign == textAlign.Center"
                    [class.right]="subControl.textAlign == textAlign.Right" style="vertical-align: top">
                    <span class="p-column-title">{{subControl.label}}</span>
                    <ng-container *ngTemplateOutlet="control; context: getContextTd(subControl, rowData, ri, fullPath)">
                    </ng-container>
                    <ng-container *ngTemplateOutlet="containerSticky"></ng-container>
                  </td>
                </ng-container>
                <td *ngIf="schema.showFunction" style="text-align: center" class="column-function text-center">
                  <div *ngIf="!schema.rowButtonTemplate" class="p-toolbar-group-center button-group">
                    <button *ngIf="schema.showSave" [disabled]="rowData._disableSave" type="button" pButton
                      class="p-button-text p-button-rounded" icon="pi pi-save" [pTooltip]="'Lưu'" tooltipPosition="top"
                      (click)="saveRow(rowData, ri, schema)"></button>
                    <button *ngIf="schema.showEdit" [disabled]="rowData._disableEdit" type="button" pButton
                      class="p-button-text p-button-rounded" icon="pi pi-pencil" [pTooltip]="'Sửa'"
                      tooltipPosition="top" (click)="editRow(rowData, ri, schema)"></button>
                    <button *ngIf="schema.showDelete" [disabled]="rowData._disableDelete" type="button" pButton
                      class="p-button-text p-button-danger p-button-rounded" icon="pi pi-trash" [pTooltip]="'Xóa'"
                      tooltipPosition="top" (click)="deleteRow(rowData, ri, schema)"></button>
                  </div>
                  <div *ngIf="schema.rowButtonTemplate" class="p-toolbar-group-center button-group">
                    <ng-container
                      *ngTemplateOutlet="schema.rowButtonTemplate; context: {rowData: rowData, rowIndex: ri, schema: schema}">
                    </ng-container>
                  </div>
                  <ng-container *ngTemplateOutlet="containerSticky"></ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template *ngIf="schema.summaryTemplate" pTemplate="summary" let-rowData>
              <ng-container *ngTemplateOutlet="schema.summaryTemplate; context: {rowData: rowData}">
              </ng-container>
            </ng-template>
          </p-table>
        </tn-scrollbar>
        <div *ngIf="schema.showFooter" class="--table-schema-footer">
          <button *ngIf="schema.showAdd" type="button" pButton style="width:auto" label="Thêm mới" icon="pi pi-plus"
            class="p-button-text" (click)="addNewRow(data, schema)"></button>
          <span *ngIf="schema.showDialog" style="font-weight: normal;">
            <p-checkbox label="Mở dialog" [binary]="true" [(ngModel)]="schema.showEdit">
            </p-checkbox>
          </span>
          <button *ngIf="schema.enableAddMulti" type="button" pButton style="width:auto; margin-left:10px;"
            label="Thêm nhiều" icon="pi pi-clone" class="p-button-text" (click)="addMultiRow(data, schema, 5)"></button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngTemplateOutlet="validation; context: {$implicit: schema, data: data, fullPath: fullPath}">
  </ng-container>
</ng-template>

<ng-template #validation let-schema let-data="data" let-fullPath="fullPath">
  <ng-container *ngIf="_errors[fullPath] && _errors[fullPath].length > 0">
    <div class="error-container">
      <ng-container *ngFor="let error of _errors[fullPath]">
        <div class="error-item" *ngIf="error">
          <ng-container [ngTemplateOutlet]="errorMessage" [ngTemplateOutletContext]="{content: error}">
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-template>

<ng-template #errorMessage let-content="content">
  <div class="error-content">
    <i class="pi pi-ban"></i>
    <span> {{content}}</span>
  </div>
</ng-template>

<ng-template #containerSticky>
  <span class="fix-sticky top"></span>
  <span class="fix-sticky right"></span>
  <span class="fix-sticky left"></span>
</ng-template>
