<div style="width: 100%">
  <crud-list #crudList [model]="model" [setting]="setting" [dataSource]="model.dataSource" (onAdd)="_add($event)"
    (onEdit)="_edit($event)" (onDelete)="_delete($event)" (onReload)="_triggerProcessData($event)"
    (onReloaded)="_unmarkLoading()">
    <ng-template #buttonBefore let-rowData="rowData">
      <button *ngIf="rowData.idTrangThai != enumTrangThaiQuyetDinh.MOI_TAO" type="button" pButton icon="pi pi-eye"
        class="p-button-text p-button-rounded p-button-info" pTooltip="Xem chi tiết" tooltipPosition="top"
        (click)="view(rowData)"></button>
      <button *ngIf="rowData.idTrangThai == enumTrangThaiQuyetDinh.MOI_TAO" type="button" pButton icon="pi pi-send"
        class="p-button-text p-button-rounded p-button-info" pTooltip="Gửi duyệt" tooltipPosition="top"
        (click)="guiDuyetQuyetDinh(rowData)"></button>
      <button *ngIf="rowData.idTrangThai == enumTrangThaiQuyetDinh.CHO_DUYET" type="button" pButton icon="pi pi-check"
        class="p-button-text p-button-rounded p-button-success" pTooltip="Phê duyệt" tooltipPosition="top"
        (click)="pheDuyetQuyetDinh(rowData)"></button>
      <button *ngIf="rowData.idTrangThai == enumTrangThaiQuyetDinh.CHO_DUYET" type="button" pButton icon="pi pi-times"
        class="p-button-text p-button-rounded p-button-danger" pTooltip="Từ chối" tooltipPosition="top"
        (click)="tuChoiQuyetDinh(rowData)"></button>
      <button type="button" pButton icon="pi pi-history" class="p-button-text p-button-rounded p-button-secondary"
        pTooltip="Xem quá trình xử lý" tooltipPosition="top"></button>
    </ng-template>
  </crud-list>
</div>

<tn-dialog *ngIf="showDetailForm" #dialog [styleClass]="'address-form'" [header]="setting.popupHeader"
  [popupSize]="setting.popupSize" (onHide)="showDetailForm = false">
  <danhsachquyetdinhkhenthuong-form #formBase [parentSetting]="setting" [model]="formModel"
    (onSaved)="showDetailForm = false;crudList.reload()" (onCancel)="_handleCancel($event)">
  </danhsachquyetdinhkhenthuong-form>
</tn-dialog>
