<div style="width: 100%">
  <crud-list #crudList [model]="model" [setting]="setting" [dataSource]="model.dataSource" (onAdd)="_add($event)"
    (onEdit)="_edit($event)" (onDelete)="_delete($event)" (onReload)="_triggerProcessData($event)"
    (onReloaded)="_unmarkLoading()">
    <ng-template #quyetDinhKhenThuongs let-rowData="rowData">
      <div *ngFor="let loaiKhenThuong of rowData.quyetDinhKhenThuongs">
        {{loaiKhenThuong.loaiKhenThuong}}
      </div>
    </ng-template>
    <ng-template #soTien let-rowData="rowData">
      <div *ngFor="let loaiKhenThuong of rowData.quyetDinhKhenThuongs">
        {{loaiKhenThuong.soTien}}
      </div>
    </ng-template>
    <ng-template #soQd let-rowData="rowData">
      <div *ngFor="let quyetDinh of rowData.quyetDinhKhenThuongs">
        {{quyetDinh.soQuyetDinhs.toString()}}
      </div>
    </ng-template>
    <ng-template #ngayQd let-rowData="rowData">
      <div *ngFor="let quyetDinh of rowData.quyetDinhKhenThuongs">
        {{quyetDinh.ngayQuyetDinh.toString()}}
      </div>
    </ng-template>
    <ng-template #buttonAfterToolbar let-rowData="rowData">
      <button type="button" pButton icon="pi pi-file-excel" class="p-button-text p-button p-comment p-button-success"
        label="Xuất báo cáo">
      </button>
    </ng-template>
    <!-- <ng-template #buttonBetween>
      123
    </ng-template>

    <ng-template #function>
      Xóa sạch tự vẽ lại hết
    </ng-template> -->
  </crud-list>
</div>
