<div style="width: 100%">
  <crud-list #crudList [model]="model" [setting]="setting" [dataSource]="model.dataSource" (onAdd)="_add($event)"
    (onEdit)="_edit($event)" (onDelete)="_delete($event)" (onReload)="_triggerProcessData($event)"
    (onReloaded)="_unmarkLoading()">
    <ng-template #buttonAfterToolbar>
      <button type="button" pButton icon="pi pi-sync" label="Đồng bộ địa chỉ" class="p-button-text" (click)="syncAddress()"></button>
    </ng-template>
  </crud-list>
</div>

<tn-dialog *ngIf="showDetailForm" #dialog [styleClass]="'address-form'" [header]="setting.popupHeader"
  [popupSize]="setting.popupSize" (onHide)="showDetailForm = false">
  <user-form #formBase [parentSetting]="setting" [model]="formModel"
    (onSaved)="showDetailForm = false;crudList.reload()" (onCancel)="_handleCancel($event)">
  </user-form>
</tn-dialog>
