<p-dialog #dialog [closeOnEscape]="closeOnEscape" [appendTo]="'body'" [focusOnShow]="false" [focusTrap]="false"
  [header]="header" [(visible)]="visible" [modal]="modal" [responsive]="true" [maximizable]="maximizable"
  [autoZIndex]="true" [styleClass]="styleClass" [maskStyleClass]="maskClass"
  [style]="{'width': popupSize.width + 'px', 'min-width': popupSize.width + 'px', 'height': popupSize.height + 'px', 'min-height': popupSize.height + 'px'}"
  (onShow)="handleShowDialog($event)" (onHide)="handleHideDialog($event)">
  <tn-scrollbar #scrollbar [useDefaultScrollBar]="useDefaultScrollBar" [class]="scrollBarStyleClass"
    [config]="scrollConfig" [style]="scrollStyle" class="tn-dialog-scrollbar">
    <ng-content></ng-content>
  </tn-scrollbar>
  <ng-container *ngIf="showFooter">
    <ng-template pTemplate="footer">
      <ng-container *ngIf="formBase && formBase.buttonTemplate">
        <ng-container *ngTemplateOutlet="formBase.buttonTemplate">
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!formBase || !formBase.buttonTemplate">
        <ng-container *ngIf="footer">
          <ng-container *ngTemplateOutlet="footer"></ng-container>
        </ng-container>
        <ng-container *ngIf="!footer">
          <button pButton preventTab type="button" icon="pi pi-replay" class="p-button-text p-button-secondary"
            label="Đóng" (click)="handleHideDialog($event)"></button>
        </ng-container>
      </ng-container>
    </ng-template>
  </ng-container>
</p-dialog>
