<div class="menu-container">
  <div>
    <tn-scrollbar>
      <ul *ngIf="lstMenu.length">
        <ng-container *ngFor="let menu of lstMenu">
          <ng-container *ngTemplateOutlet="itemMenu; context: {$implicit: menu, level: 1}"></ng-container>
        </ng-container>
      </ul>
    </tn-scrollbar>
  </div>
  <div class="search-menu">
    <p-autoComplete placeholder="Tìm kiếm menu" [suggestions]="filteredMenu" field="label" [(ngModel)]="keyword"
      (completeMethod)="filterMenu($event)" (onSelect)="selectMenu($event)">
    </p-autoComplete>
  </div>
</div>

<ng-template #itemMenu let-item let-level="level">
  <li class="menu-item" [class.active]="item.active" [class.expanded]="item.expanded" [attr.level]="level">
    <ng-container *ngIf="item.children && item.children.length">
      <a class="label" href="#" (click)="handleClickMenu($event, item)">
        <span class="content"><i [class]="item.icon"></i>{{item.label}}</span>
        <span class="collapse-expand">
          <i *ngIf="!item.expanded" class="pi pi-chevron-down"></i>
          <i *ngIf="item.expanded" class="pi pi-chevron-up"></i>
        </span>
      </a>
      <ul *ngIf="item.expanded" class="children">
        <ng-container *ngFor="let menuChild of item.children">
          <ng-container *ngTemplateOutlet="itemMenu; context: {$implicit: menuChild, level: level + 1}">
          </ng-container>
        </ng-container>
      </ul>
    </ng-container>
    <ng-container *ngIf="!item.children || !item.children.length">
      <a class="label" href="#" [routerLink]="item.path" (click)="handleClickMenu($event, item)">
        <span class="content"><i [class]="item.icon"></i>{{item.label}}</span>
      </a>
    </ng-container>
  </li>
</ng-template>
