.custom-select-item {
  background-color: #168eed;
  color: white;
  margin-right: 3px;
  padding: 0 5px 2px;
  border-radius: 3px;
  font-size: 0.9em;
  display: inline-flex;
  align-items: center;

  i {
    font-size: 12px;
    margin-left: 5px;
  }
}
