.custom-select-item {
  background-color: #d2eefb;
  border: 1px solid #a9d8ff;
  margin-right: 3px;
  padding: 0 5px 2px;
  border-radius: 3px;
  font-size: 0.9em;
  display: inline-flex;
  align-items: center;

  i {
    font-size: 12px;
    margin-left: 5px;
  }
}

.input-mask {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-left: 12px;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: none;
  background: transparent;
  border-radius: 3px;
  &.hide {
    display: none;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #a6d5fa;
    border-color: #2196f3;
  }
}
