<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<p-toast></p-toast>
<p-confirmDialog [style]="{width: '25vw'}"></p-confirmDialog>
<div *ngIf="user" class="root-container">
  <div class="header">
    <div class="menu-in-header">
      <button *ngIf="showMenu" type="button" pButton icon="pi pi-chevron-left" class="btn-collapse-expand"
        (click)="showMenu = !showMenu">
      </button>
      <button *ngIf="!showMenu" type="button" pButton icon="pi pi-chevron-right" class="btn-collapse-expand"
        (click)="showMenu = !showMenu">
      </button>
      <div class="content-menu-in-header"><i class="pi pi-building" style="margin-right: 5px;"></i>Hệ thống usmart</div>
    </div>
    <div class="content-header">
      <div class="fit"></div>
      <div class="button-container">
        <div class="button-notify" pTooltip="Thông báo">
          <button type="button" pButton icon="pi pi-bell" class="p-button-text p-button-rounded"></button>
          <span>16</span>
        </div>
        <button type="button" pButton icon="pi pi-question-circle" class="p-button-text p-button-rounded"
          pTooltip="Trợ giúp" (click)="showHelp = !showHelp"></button>
      </div>
      <div class="user-info" [class.show-context]="showContext" (click)="showContextMenuUser()">
        <span>{{user.ten}}</span>
        <img [src]="user.srcAvatar" />
        <div class="context-menu-user">
          <div><i class="pi pi pi-user-edit"></i>Thông tin</div>
          <div (click)="logout()"><i class="pi pi pi-sign-out"></i>Đăng xuất</div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="menu" [class.hide]="!showMenu">
      <la-menu></la-menu>
    </div>
    <div class="content">
      <ng-container *ngTemplateOutlet="contentRoute"></ng-container>
    </div>
  </div>
</div>
<div *ngIf="!user" class="root-container">
  <ng-container *ngTemplateOutlet="contentRoute"></ng-container>
</div>
<div class="help-container" [class.active]="showHelp">
  <div class="mask" (click)="showHelp = false"></div>
  <div class="help">
    <div class="help-title">
      <span>Trung tâm trợ giúp</span>
      <button type="button" pButton icon="pi pi-times" class="p-button-text p-button-rounded"
        (click)="showHelp = false"></button>
    </div>
    <div class="help-content">
      <div class="supporter-info">
        <div class="name">Đinh Hải Linh</div>
        <div class="detail">
          <span class="icon pi pi-phone"></span>0978562811
        </div>
        <div class="detail">
          <span class="icon pi pi-envelope"></span>linh.dino.ptit@gmail.com
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #contentRoute>
  <router-outlet></router-outlet>
</ng-template>
