<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<p-toast></p-toast>
<p-confirmDialog [style]="{width: '25vw'}"></p-confirmDialog>
<div class="root-container">
  <div class="header">
    <div class="menu-in-header">
      <button *ngIf="showMenu" type="button" pButton icon="pi pi-chevron-left" class="btn-collapse-expand"
        (click)="showMenu = !showMenu">
      </button>
      <button *ngIf="!showMenu" type="button" pButton icon="pi pi-chevron-right" class="btn-collapse-expand"
        (click)="showMenu = !showMenu">
      </button>
      <div class="content-menu-in-header">Trang chủ</div>
    </div>
    <div class="content-header">
      Content header
    </div>
  </div>
  <div class="body">
    <div class="menu" [class.hide]="!showMenu">
      <la-menu></la-menu>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
