<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div sttyle="width: 100%">
  <user></user>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '25vw'}">
</p-confirmDialog>
<router-outlet></router-outlet>
