.login-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("http://localhost:5000/file/download/login-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-content {
  margin: auto;
  width: 300px;
  margin-top: 15%;

  > div {
    margin-bottom: 1em;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input {
    width: 100%;
  }
}

.error {
  color: #ff8383;
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
}
