<div class="login-container">
  <div class="login-content">
    <div class="university-info">
      <div class="name">TRƯỜNG ĐẠI HỌC GIAO THÔNG VẬN TẢI</div>
      <div class="address">Địa chỉ: Số 3 phố Cầu Giấy, P.Láng Thượng, Q.Đống Đa, Hà Nội</div>
      <div class="phone">Điện thoại: 0234 3825 866 Fax: (84.24)37669613 Email: dhgtvt@utc.edu.vn</div>
    </div>
    <div class="login-box">
      <div class="university-logo">
        <img class="tn-logo__image" src="https://i.ibb.co/tpsJtjw/LOGO-GTVT-Trans2.png" alt="" title="">TRƯỜNG ĐẠI HỌC
        GIAO THÔNG VẬN TẢI
      </div>
      <div class="row-login">
        <span class="icon pi pi-user"></span>
        <input #username type="text" placeholder="Tên đăng nhập" name="username" autocomplete="off"
          [(ngModel)]="data.username" />
      </div>
      <div class="row-login">
        <span class="icon pi pi-key"></span>
        <input #password type="password" placeholder="Mật khẩu" name="password" autocomplete="off"
          [(ngModel)]="data.password" />
      </div>
      <div class="row-action">
        <p-checkbox [binary]="true" [(ngModel)]="rememberMe" label="Ghi nhớ đăng nhập"></p-checkbox>
        <span class="forget-password">Quên mật khẩu</span>
      </div>
      <div>
        <button type="button" pButton label="Đăng nhập" class="btn-login" (click)="login()"></button>
      </div>
      <div class="alternative-login">
        Đăng nhập bằng <span class="pi pi-google"></span><span class="pi pi-facebook"></span><span
          class="pi pi-twitter"></span>
      </div>
    </div>
  </div>
</div>