$border-color: #ced4da;

.file-container {
  box-sizing: border-box;
  border: 1px solid $border-color;
  border-radius: 3px;

  .top-bar-button {}

  .file-list {
    box-sizing: border-box;

    .file-row {
      display: flex;
      align-items: center;
      padding: 0 0 0 0.5em;
      border-top: 1px solid $border-color;

      .stt {
        flex: 0 0 20px;
        font-size: 14px;
        padding-top: 1px;
      }

      .name {
        flex: 1 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #1976d2;
        font-weight: 500;
        font-size: 0.9em;
        cursor: pointer;
        display: flex;

        >span {
          &:first-child {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:last-child {
            flex: 0 0 auto;
          }
        }
      }

      .action {
        flex: 0 0 auto;
      }
    }
  }
}

.avatar-container {
  position: relative;
  width: 100px;
  height: 100px;

  .image-container {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%
    }
  }

  .function-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    opacity: .5;
    color: #fff;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    display: block;
    border: 1px solid #eee;
  }
}
