<div *ngIf="!control.isAvatar" class="file-container">
  <div class="top-bar-button">
    <button [disabled]="disabled" type="button" pButton icon="pi pi-upload" class="p-button-text" label="Tải lên"
      (click)="triggerUpload()"></button>
  </div>
  <div class="file-list">
    <div *ngFor="let file of value; index as i" class="file-row">
      <div class="stt">{{i + 1}}.</div>
      <div class="name">
        <span>{{file.name}}</span>
        <span>.{{file.extension}}</span>
      </div>
      <!-- <div class="extension">.{{file.extension}}</div> -->
      <div class="action">
        <button type="button" pButton icon="pi pi-times" class="p-button-text p-button-rounded p-button-danger"
          (click)="removeRow(i)"></button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="control.isAvatar" class="avatar-container">
  <div>
    <div class="image-container">
      <img *ngIf="value && value.length" [src]="value[0].downloadUrl"
        onerror="this.src='https://icons-for-free.com/download-icon-avatar+human+people+profile+user+icon-1320168139431219590_512.png'" />
      <img *ngIf="!value || !value.length"
        src="https://icons-for-free.com/download-icon-avatar+human+people+profile+user+icon-1320168139431219590_512.png" />
    </div>
    <div class="function-container" (click)="toggleAvatar()">
      <span *ngIf="value && value.length" class="pi pi-trash icon-delete" tooltipPosition="top">
        Xóa</span>
      <span *ngIf="!value || !value.length" class="pi pi-upload" tooltipPosition="top"> Chọn
        ảnh</span>
    </div>
  </div>
</div>
<div style="display: none">
  <p-fileUpload name="file" url="http://localhost:3000/file/upload" [auto]="true" [accept]="'image/*'"
    (onUpload)="handleFileUploaded($event)">
  </p-fileUpload>
</div>