$border-color: #ced4da;

.file-container {
  box-sizing: border-box;
  border: 1px solid $border-color;
  border-radius: 3px;

  .top-bar-button {}

  .file-list {
    box-sizing: border-box;

    .file-row {
      display: flex;
      align-items: center;
      padding: 0 0 0 0.5em;
      border-top: 1px solid $border-color;

      .stt {
        flex: 0 0 20px;
      }

      .name {
        flex: 1 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #1976d2;
        font-weight: 500;
        font-size: 0.9em;
        cursor: pointer;
        display: flex;

        >span {
          &:first-child {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:last-child {
            flex: 0 0 auto;
          }
        }
      }

      .action {
        flex: 0 0 auto;
      }
    }
  }
}
