$bgTopbar: #397ac3;

h3 {
  font-size: initial;
}

.layout-wrapper .topbar {
  background: $bgTopbar;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 60px;
}

.layout-wrapper .topbar .topbar-left {
  padding: 15px;
  height: 60px;
  width: 235px;
  background-color: $bgTopbar;
  background-image: -webkit-gradient(linear, left top, right top, from(#457fca), to(#5691c8));
  background-image: -webkit-linear-gradient(to right, #457fca, #5691c8);
  background-image: -moz-linear-gradient(to right, #457fca, #5691c8);
  background-image: -ms-linear-gradient(to right, #457fca, #5691c8);
  background-image: -o-linear-gradient(to right, #457fca, #5691c8);
  background-image: linear-gradient(to right, #457fca, #5691c8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#457fca', endColorStr='#5691c8', gradientType='1');
}

.layout-wrapper .topbar .topbar-left .topbar-logo {
  height: 30px;
}

.layout-wrapper .topbar .topbar-left .topbar-logo-sokhcn {
  height: 45px;
}

.layout-wrapper .topbar .topbar-right {
  padding: 15px;
  height: 60px;
  background-color: $bgTopbar;
  background-image: -webkit-gradient(linear, left top, right top, from(#457fca), to(#5691c8));
  background-image: -webkit-linear-gradient(to right, #457fca, #5691c8);
  background-image: -moz-linear-gradient(to right, #457fca, #5691c8);
  background-image: -ms-linear-gradient(to right, #457fca, #5691c8);
  background-image: -o-linear-gradient(to right, #457fca, #5691c8);
  background-image: linear-gradient(to right, #457fca, #5691c8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#457fca', endColorStr='#5691c8', gradientType='1');
}

.layout-wrapper .topbar .topbar-right #menu-button {
  color: #234b7d;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 219px;
  text-align: center;
  background-color: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.layout-wrapper .topbar .topbar-right #menu-button:hover {
  background-color: #f4f4f4;
}

.layout-wrapper .topbar .topbar-right #menu-button i {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 32px;
}

.layout-wrapper .topbar .topbar-right #menu-button.menu-button-rotate i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.layout-wrapper .topbar .topbar-right #topbar-menu-button {
  display: none;
  color: #ffffff;
  vertical-align: middle;
  height: 36px;
  position: absolute;
  top: 12px;
  right: 25px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.layout-wrapper .topbar .topbar-right #topbar-menu-button i {
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 28px;
}

.layout-wrapper .topbar .topbar-right .topbar-items .search-item .topbar-search {
  position: relative;
  top: -2px;
}

.layout-wrapper .topbar .topbar-right .topbar-items .search-item .topbar-search input {
  position: relative;
  font-size: 14px;
  background-color: #ffffff;
  padding: 5px 12px;
  border: 1px solid #cccccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: box-shadow 0.3s, border-color 0.3s;
  -o-transition: box-shadow 0.3s, border-color 0.3s;
  -webkit-transition: box-shadow 0.3s, border-color 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s;
  width: 200px;
}

.layout-wrapper .topbar .topbar-right .topbar-items .search-item .topbar-search input:focus {
  outline: 0 none;
  border: 1px solid #337ab7;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px 0 #337ab7;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px 0 #337ab7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px 0 #337ab7;
}

.layout-wrapper .topbar .topbar-right .topbar-items .search-item .topbar-search i {
  position: absolute;
  color: #777777;
  top: 5px;
  right: 10px;
  font-size: 18px;
}

.layout-wrapper .layout-menu-container {
  overflow: auto;
  position: fixed;
  width: 235px;
  height: 100%;
  padding: 0;
  z-index: 99;
  top: 60px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(to right, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(to right, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(to right, #ffffff, #ffffff);
  background-image: -o-linear-gradient(to right, #ffffff, #ffffff);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', endColorStr='#ffffff', gradientType='1');
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel {
  background: transparent;
  border-radius: 0;
  border: none;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .ui-scrollpanel-bar {
  background: #aaaaaa;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .ui-scrollpanel-hidden {
  display: block;
  visibility: hidden;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .ui-scrollpanel-content {
  overflow-x: hidden;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .menu-scroll-content {
  width: 253px;
  padding-right: 18px;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .layout-main-menu {
  margin-top: 16px;
  padding-bottom: 120px;
}

.layout-wrapper .layout-menu-container .profile {
  padding: 15px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.layout-wrapper .layout-menu-container .profile:after {
  content: "";
  display: table;
  clear: both;
}

.layout-wrapper .layout-menu-container .profile>a .profile-image {
  width: 45px;
  height: 45px;
  margin-left: 4px;
}

.layout-wrapper .layout-menu-container .profile>a .profile-name {
  display: block;
  color: #212529;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  margin-top: 4px;
}

.layout-wrapper .layout-menu-container .profile>a .profile-role {
  display: block;
  min-width: 100px;
  text-align: right;
  font-size: 12px;
  color: #777777;
}

.layout-wrapper .layout-menu-container .profile>a i {
  color: #777777;
  vertical-align: middle;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.layout-wrapper .layout-menu-container .profile.profile-expanded i {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.layout-wrapper .layout-menu-container #profile-menu {
  border-bottom: 1px solid #d6d5d5;
  overflow: hidden;
}

.layout-wrapper .layout-menu-container #profile-menu li:first-child {
  margin-top: 16px;
}

.layout-wrapper .layout-menu-container #profile-menu li:last-child {
  margin-bottom: 16px;
}

.layout-wrapper .layout-menu-container.layout-menu-dark {
  background-color: #363a41;
  background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
  background-image: -webkit-linear-gradient(to right, #363a41, #363a41);
  background-image: -moz-linear-gradient(to right, #363a41, #363a41);
  background-image: -ms-linear-gradient(to right, #363a41, #363a41);
  background-image: -o-linear-gradient(to right, #363a41, #363a41);
  background-image: linear-gradient(to right, #363a41, #363a41);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#363a41', endColorStr='#363a41', gradientType='1');
}

.layout-wrapper .layout-menu-container.layout-menu-dark .profile .profile-name,
.layout-wrapper .layout-menu-container.layout-menu-dark .profile .profile-role {
  color: #ffffff;
}

.layout-wrapper .layout-menu-container.layout-menu-dark .profile i {
  color: #ffffff;
}

.layout-wrapper .layout-menu-container.layout-menu-dark #profile-menu {
  border-bottom: 1px solid #4a4d54;
}

.layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li a {
  color: #ffffff;
}

.layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li a i {
  color: #ffffff;
}

.layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li a:hover {
  background-color: #4a4d54;
}

.layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li a.active-menuitem-routerlink {
  color: #428dcd;
}

.layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li a.active-menuitem-routerlink i:first-child {
  color: #428dcd;
}

.layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li.active-menuitem>a {
  border-left-color: #6aa5d8;
  color: #6aa5d8;
  background-color: #282b30;
}

.layout-wrapper .layout-menu-container.layout-menu-dark ul.layout-menu li.active-menuitem>a i {
  color: #6aa5d8;
}

.layout-wrapper.menu-layout-overlay .layout-menu-container {
  margin-left: -250px;
}

.layout-wrapper.menu-layout-overlay .layout-main,
.layout-wrapper.menu-layout-overlay .layout-footer {
  margin-left: 0;
}

.layout-wrapper.menu-layout-overlay.layout-menu-overlay-active .layout-menu-container {
  z-index: 999999999;
  margin-left: 0px;
}

.layout-wrapper.menu-layout-overlay.layout-menu-overlay-active .layout-mask {
  display: block;
}

.layout-wrapper.menu-layout-overlay.layout-menu-overlay-active .topbar .topbar-right #menu-button i {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.layout-wrapper.menu-layout-overlay .topbar {
  z-index: 999999998;
}

.layout-wrapper.menu-layout-overlay .topbar .topbar-right #menu-button i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.layout-wrapper .layout-main {
  padding: 80px 15px 15px 15px;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

.layout-wrapper .layout-mask {
  display: none;
}

.layout-wrapper .layout-footer {
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

.layout-wrapper .layout-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.layout-wrapper .layout-menu li a {
  display: block;
  padding: 10px 15px;
  color: #212529;
  width: 100%;
  -moz-transition: background-color 0.3s, border-left-color 0.3s;
  -o-transition: background-color 0.3s, border-left-color 0.3s;
  -webkit-transition: background-color 0.3s, border-left-color 0.3s;
  transition: background-color 0.3s, border-left-color 0.3s;
  overflow: hidden;
  border-left: 4px solid transparent;
}

.layout-wrapper .layout-menu li a i {
  color: #777777;
}

.layout-wrapper .layout-menu li a i:first-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 16px;
}

.layout-wrapper .layout-menu li a i.menuitem-toggle-icon {
  float: right;
  font-size: 16px;
  margin-top: 2px;
  margin-right: -3px;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.layout-wrapper .layout-menu li a .submenu-arrow {
  display: none;
}

.layout-wrapper .layout-menu li a:hover {
  background-color: #f4f4f4;
}

.layout-wrapper .layout-menu li a span {
  display: inline-block;
  vertical-align: middle;
}

.layout-wrapper .layout-menu li a .menuitem-badge {
  float: right;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  text-align: center;
  background-color: #3eb839;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: 2px;
}

.layout-wrapper .layout-menu li a.active-menuitem-routerlink {
  color: #337ab7;
}

.layout-wrapper .layout-menu li a.active-menuitem-routerlink i:first-child {
  color: #337ab7;
}

.layout-wrapper .layout-menu li.active-menuitem>a {
  color: #337ab7;
  background-color: #e8e8e8;
  border-left-color: #337ab7;
}

.layout-wrapper .layout-menu li.active-menuitem>a i:first-child {
  color: #337ab7;
}

.layout-wrapper .layout-menu li.active-menuitem>a i.menuitem-toggle-icon {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.layout-wrapper .layout-menu li ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
}

.layout-wrapper .layout-menu li ul li a {
  padding: 10px 15px 10px 30px;
}

.layout-wrapper .layout-menu li ul li a i:first-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 20px;
}

.layout-wrapper .layout-menu li ul li ul li a {
  padding-left: 45px;
}

.layout-wrapper .layout-menu li ul li ul ul li a {
  padding-left: 60px;
}

.layout-wrapper .layout-menu li ul li ul ul ul li a {
  padding-left: 75px;
}

.layout-wrapper .layout-menu li ul li ul ul ul ul li a {
  padding-left: 90px;
}

.layout-wrapper .layout-menu .layout-menu-tooltip {
  display: none;
  padding: 0 5px;
  position: absolute;
  left: 76px;
  top: 5px;
  z-index: 101;
  line-height: 1;
}

.layout-wrapper .layout-menu .layout-menu-tooltip .layout-menu-tooltip-text {
  padding: 6px 8px;
  font-weight: 700;
  background-color: #4d535d;
  color: #ffffff;
  min-width: 75px;
  white-space: nowrap;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.layout-wrapper .layout-menu .layout-menu-tooltip .layout-menu-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #4d535d;
}

.layout-wrapper .layout-footer {
  padding: 15px 20px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.layout-wrapper .layout-footer .footer-text-left img {
  height: 25px;
}

.layout-wrapper .layout-footer .footer-text-right {
  color: #777777;
  float: right;
}

.layout-wrapper .layout-footer .footer-text-right a {
  margin-left: 15px;
  color: #777777;
  font-size: 24px;
}

.ajax-loader {
  font-size: 32px;
  color: #337ab7;
}

.layout-wrapper .topbar .topbar-left {
  padding: 0px;
  width: 285px;
}

.layout-wrapper .topbar .topbar-left .topbar-logo {
  margin: 5px;
  height: 40px;
}

.layout-wrapper .topbar .topbar-left .topbar-title {
  text-transform: uppercase;
  color: #fff;
  margin: 13px;
}

.layout-wrapper .topbar .topbar-left .topbar-title .topbar-owner {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.layout-wrapper .topbar .topbar-left .topbar-title .topbar-description {
  font-size: 0.8em;
}

.layout-wrapper .topbar .topbar-right #menu-button {
  left: calc(285px - 13px);
  left: -webkit-calc(285px - 13px);
  left: -moz-calc(285px - 13px);
  width: 26px;
  height: 26px;
}

.layout-wrapper .topbar .topbar-right #menu-button i {
  font-size: 26px;
}

.layout-wrapper .layout-menu-container {
  width: 285px;
}

.layout-wrapper .layout-menu-container .ui-scrollpanel .menu-scroll-content {
  width: 303px;
}

label[for] {
  line-height: 30px;
}

.custom-autocomplete .ui-autocomplete-input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.custom-autocomplete .ui-inputtext {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

body .custom-button-search {
  background: none;
  color: #666;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

body .custom-button-search:enabled:hover {
  background: none;
  color: #579cd8;
}

.custom-advance-search:hover {
  cursor: pointer;
  color: #579cd8;
}

.layout-wrapper .layout-menu li ul li a i:first-child {
  font-size: 16px;
}

.layout-wrapper .topbar .topbar-right,
.layout-wrapper .topbar .topbar-left {
  background: #3192e1;
}

.page-title-area {
  display: flex;

  .main-title,
  .paginator-table {
    padding: 0.5rem;
  }

  .main-title {
    flex-grow: 9999;
    flex-basis: 400px;
    align-self: center;

    >h1 {
      font-size: 1.2em;
    }
  }

  .paginator-table {
    flex-grow: 1;
    white-space: nowrap;
  }
}

.main-container-search {
  .p-inputtext {
    padding: 4px 12px;
  }
}

@media (min-width: 1025px) {
  .layout-wrapper .topbar-items {
    -webkit-animation-name: none;
    animation-name: none;
    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;
  }

  .layout-wrapper .topbar-items>li {
    position: relative;
    margin-left: 14px;
  }

  .layout-wrapper .topbar-items>li>a {
    position: relative;
    display: block;
  }

  .layout-wrapper .topbar-items>li>a .topbar-item-name {
    display: none;
  }

  .layout-wrapper .topbar-items>li>a .topbar-badge {
    position: absolute;
    right: 0;
    top: -5px;
    background-color: #3eb839;
    color: #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 2px 4px;
    display: block;
    font-size: 12px;
    line-height: 12px;
  }

  .layout-wrapper .topbar-items>li .topbar-icon {
    font-size: 24px;
    color: #ffffff;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }

  .layout-wrapper .topbar-items>li .topbar-icon:hover {
    color: #cccccc;
  }

  .layout-wrapper .topbar-items>li.profile-item a {
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    top: -3px;
  }

  .layout-wrapper .topbar-items>li.profile-item a:after {
    content: "";
    display: table;
    clear: both;
  }

  .layout-wrapper .topbar-items>li.profile-item a .profile-image {
    width: 36px;
    height: 36px;
    margin-top: -4px;
    margin-left: 12px;
  }

  .layout-wrapper .topbar-items>li.profile-item a .topbar-item-name {
    display: block;
    color: #ffffff;
  }

  .layout-wrapper .topbar-items>li.profile-item a .topbar-item-role {
    display: block;
    font-size: 12px;
    color: #ffffff;
  }

  .layout-wrapper .topbar-items>li>ul {
    position: absolute;
    right: 5px;
    top: 55px;
    display: none;
    width: 250px;
    background-color: #ffffff;
    border-top: 4px solid #337ab7;
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .layout-wrapper .topbar-items>li>ul:before {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #337ab7;
    content: " ";
    position: absolute;
    top: -15px;
    left: 232px;
  }

  .layout-wrapper .topbar-items>li.active-top-menu>ul {
    display: block;
  }

  .layout-wrapper .topbar-items>li .topbar-message img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
  }

  .layout-wrapper.menu-layout-static .layout-menu-container {
    margin-left: 0;
  }

  .layout-wrapper.menu-layout-static .layout-main,
  .layout-wrapper.menu-layout-static .layout-footer {
    margin-left: 235px;
  }

  .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-menu-container {
    margin-left: -303px;
  }

  .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-main,
  .layout-wrapper.menu-layout-static.layout-menu-static-inactive .layout-footer {
    margin-left: 0px;
  }

  .layout-wrapper.menu-layout-static .layout-mask {
    display: none;
  }

  .layout-wrapper.menu-layout-horizontal .topbar {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .layout-wrapper.menu-layout-horizontal .topbar .topbar-left {
    background: #457fca;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .layout-wrapper.menu-layout-horizontal .topbar .topbar-right {
    background: #457fca;
  }

  .layout-wrapper.menu-layout-horizontal .topbar .topbar-right #menu-button {
    display: none;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container {
    overflow: visible;
    position: fixed;
    width: 100%;
    top: 60px;
    height: auto;
    background-color: #5691c8;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel {
    overflow: visible;
    border: none;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel .ui-scrollpanel-wrapper {
    overflow: visible;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel .ui-scrollpanel-wrapper .ui-scrollpanel-content {
    overflow: visible;
    padding: 0;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel .ui-scrollpanel-bar {
    display: none;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel .menu-scroll-content {
    width: 100%;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container .ui-scrollpanel .layout-main-menu {
    padding-bottom: 0;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu:last-child {
    margin-top: 0;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li {
    float: left;
    position: relative;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>a:hover {
    background-color: #e8e8e8;
    color: #212529;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>a:hover i {
    color: #212529;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>ul {
    padding: 5px 0;
    z-index: 100;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 250px;
    background-color: #ffffff;
    border-top: 4px solid #337ab7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>ul li a {
    padding: 10px 16px;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>ul li ul {
    position: static;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>ul li ul li a {
    padding-left: 32px;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>ul li ul ul li a {
    padding-left: 48px;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>ul li ul ul ul li a {
    padding-left: 64px;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>ul li ul ul ul ul li a {
    padding-left: 80px;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>ul li ul ul ul ul ul li a {
    padding-left: 96px;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li>ul li.active-menuitem>a {
    color: #337ab7;
    background-color: #e8e8e8;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li.active-menuitem>.submenu-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #337ab7;
    content: " ";
    position: absolute;
    top: 38px;
    left: 20px;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li.active-menuitem>a {
    color: #337ab7;
    background-color: #e8e8e8;
    border-left-color: transparent;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu>li.active-menuitem>a i {
    color: #337ab7;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu li a .menuitem-badge {
    margin-right: 0;
    margin-left: 4px;
    margin-top: 0;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container ul.layout-menu li a .menuitem-toggle-icon {
    margin-top: 0;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark {
    background-color: #363a41;
    background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
    background-image: -webkit-linear-gradient(to right, #363a41, #363a41);
    background-image: -moz-linear-gradient(to right, #363a41, #363a41);
    background-image: -ms-linear-gradient(to right, #363a41, #363a41);
    background-image: -o-linear-gradient(to right, #363a41, #363a41);
    background-image: linear-gradient(to right, #363a41, #363a41);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#363a41', endColorStr='#363a41', gradientType='1');
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li a {
    color: #ffffff;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li a i {
    color: #ffffff;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li a:hover {
    background-color: #4a4d54;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li.active-menuitem>a {
    color: #6aa5d8;
    background-color: #282b30;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li.active-menuitem>a i {
    color: #6aa5d8;
  }

  .layout-wrapper.menu-layout-horizontal .layout-menu-container.layout-menu-dark ul.layout-menu li ul {
    background-color: #363a41;
    background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
    background-image: -webkit-linear-gradient(to right, #363a41, #363a41);
    background-image: -moz-linear-gradient(to right, #363a41, #363a41);
    background-image: -ms-linear-gradient(to right, #363a41, #363a41);
    background-image: -o-linear-gradient(to right, #363a41, #363a41);
    background-image: linear-gradient(to right, #363a41, #363a41);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#363a41', endColorStr='#363a41', gradientType='1');
  }

  .layout-wrapper.menu-layout-horizontal .layout-main {
    padding-top: 115px;
    margin-left: 0px;
  }

  .layout-wrapper.menu-layout-horizontal .layout-footer {
    margin-left: 0px;
  }

  .layout-wrapper.menu-layout-horizontal .layout-mask {
    display: none;
  }

  .layout-wrapper.menu-layout-slim .topbar {
    left: 75px;
    width: calc(100% - 75px);
  }

  .layout-wrapper.menu-layout-slim .topbar .topbar-left {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .layout-wrapper.menu-layout-slim .topbar .topbar-right #menu-button {
    display: none;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container {
    width: 75px;
    overflow: visible;
    z-index: 100;
    top: 0;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .ui-scrollpanel {
    border: none;
    border-radius: 0;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .ui-scrollpanel .ui-scrollpanel-wrapper {
    overflow: visible;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .ui-scrollpanel .ui-scrollpanel-wrapper .ui-scrollpanel-content {
    overflow: visible;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .ui-scrollpanel .ui-scrollpanel-bar {
    display: none;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .ui-scrollpanel .menu-scroll-content {
    width: 100%;
    padding-right: 0;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .profile {
    height: 60px;
    padding-top: 7px;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .profile>a .profile-name,
  .layout-wrapper.menu-layout-slim .layout-menu-container .profile>a .profile-role,
  .layout-wrapper.menu-layout-slim .layout-menu-container .profile>a i {
    display: none;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu {
    padding: 0;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li {
    position: relative;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>a {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>a i:first-child {
    font-size: 19px;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>a span,
  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>a i.menuitem-toggle-icon {
    display: none;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>a:hover+.layout-menu-tooltip {
    display: block;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>ul {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 75px;
    min-width: 200px;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>ul li a {
    padding-left: 16px;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>ul li ul li a {
    padding-left: 32px;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>ul li ul ul li a {
    padding-left: 48px;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>ul li ul ul ul li a {
    padding-left: 64px;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>ul li ul ul ul ul li a {
    padding: 80px;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li>ul li ul ul ul ul ul li a {
    padding: 96px;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container .layout-menu>li.active-menuitem>a:hover+.layout-menu-tooltip {
    display: none;
  }

  .layout-wrapper.menu-layout-slim .layout-menu-container.layout-menu-dark .layout-menu>li>ul {
    background-color: #363a41;
    background-image: -webkit-gradient(linear, left top, right top, from(#363a41), to(#363a41));
    background-image: -webkit-linear-gradient(to right, #363a41, #363a41);
    background-image: -moz-linear-gradient(to right, #363a41, #363a41);
    background-image: -ms-linear-gradient(to right, #363a41, #363a41);
    background-image: -o-linear-gradient(to right, #363a41, #363a41);
    background-image: linear-gradient(to right, #363a41, #363a41);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#363a41', endColorStr='#363a41', gradientType='1');
  }

  .layout-wrapper.menu-layout-slim .layout-main {
    margin-left: 75px;
  }

  .layout-wrapper.menu-layout-slim .layout-footer {
    margin-left: 75px;
  }

  .layout-wrapper.menu-layout-static .layout-main {
    margin-left: 285px;
  }

  .layout-wrapper.menu-layout-static .layout-footer {
    margin-left: 285px;
  }
}

@media (max-width: 1024px) {
  .layout-wrapper.menu-layout-static .topbar .topbar-right #menu-button i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .layout-wrapper.menu-layout-static .topbar .topbar-right #menu-button.menu-button-rotate i {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .layout-wrapper.menu-layout-static .layout-menu-container {
    margin-left: -265px;
  }

  .layout-wrapper.menu-layout-static .layout-main,
  .layout-wrapper.menu-layout-static .layout-footer {
    margin-left: 0px;
  }

  .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-menu-container {
    margin-left: 0;
    z-index: 999999999;
  }

  .layout-wrapper.menu-layout-static.layout-menu-static-active .topbar {
    z-index: 999999998;
  }

  .layout-wrapper.menu-layout-static.layout-menu-static-active .topbar .topbar-right #menu-button i {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-main,
  .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-footer {
    margin-left: 0;
  }

  .layout-wrapper.menu-layout-static.layout-menu-static-active .layout-mask {
    display: block;
  }

  .layout-wrapper.menu-layout-static.layout-menu-static-inactive .topbar .topbar-right #menu-button.menu-button-rotate i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .layout-wrapper .topbar .topbar-right #topbar-menu-button {
    display: block;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items {
    position: absolute;
    top: 75px;
    right: 15px;
    width: 275px;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    display: none;
    background-color: #ffffff;
    border-top: 4px solid #337ab7;
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items:before {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #337ab7;
    content: " ";
    position: absolute;
    top: -15px;
    left: 242px;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li>a {
    width: 100%;
    display: flex;
    font-size: 16px;
    padding: 10px 15px;
    color: #212529;
    position: relative;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li>a i {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li>a:hover {
    background-color: #e8e8e8;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li>a .topbar-item-name {
    display: inline-block;
    vertical-align: middle;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li>a .topbar-badge {
    position: absolute;
    left: 30px;
    top: 10px;
    background-color: #3eb839;
    color: #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 2px 4px;
    display: block;
    font-size: 12px;
    line-height: 12px;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li>ul {
    display: none;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li>ul li a span,
  .layout-wrapper .topbar .topbar-right .topbar-items>li>ul li a img,
  .layout-wrapper .topbar .topbar-right .topbar-items>li>ul li a i {
    display: inline-block;
    vertical-align: middle;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li.active-top-menu>a {
    color: #337ab7;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li.active-top-menu>ul {
    display: block;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li.search-item {
    width: 100%;
    display: block;
    font-size: 16px;
    position: relative;
    padding: 10px 15px;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li.search-item .topbar-search input {
    top: 0;
    width: 100%;
    padding-right: 28px;
    border-color: #e5e5e5;
    color: #212529;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li.search-item .topbar-search input:focus {
    border-color: #e5e5e5;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li.search-item .topbar-search label {
    top: 1px;
    color: #212529;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li.search-item .topbar-search i {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li.profile-item .profile-image {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items>li.profile-item span {
    vertical-align: middle;
    display: inline-block;
  }

  .layout-wrapper .topbar .topbar-right .topbar-items.topbar-items-visible {
    display: block;
  }
}

@media (max-width: 640px) {

  // fix lỗi đơn vị rem không hiển thị chính xác nếu screen < 640px
  html {
    font-size: 16px;
  }
}

@media (max-width: 399px) {
  .layout-wrapper .topbar .topbar-right #topbar-menu-button {
    right: 10px;
  }

  .layout-wrapper.layout-rtl .topbar .topbar-right #topbar-menu-button {
    left: 10px;
  }
}
