@import "./layout.scss";
@import "./control.scss";

body {
  margin: 0;
  padding: 0;
}

crud-form {
  .control-container {

    >.label,
    >.control {
      width: 100%;

      input,
      textarea,
      .p-calendar,
      .tn-dropdown {
        width: 100%;
      }
    }

    >.label {
      font-weight: 500;
      margin-bottom: 5px;

      .rq {
        color: red
      }
    }
  }
}

.flex-container-fit-child {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  >div.fit-content {
    flex: 1 1;
    position: relative;

    >div {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: auto;
    }
  }

  .fit-content {
    .flexcolumn {
      border: none;
    }

    .defaulFlexColumn .crud-list-table table {
      th {
        border-top: 1px solid $border-table-color  !important;
        border-left: 1px solid $border-table-color  !important;
      }

      td {
        border-left: 1px solid $border-table-color  !important;
      }

      tr:last-child td {
        border-left: 1px solid $border-table-color  !important;
        //border-bottom: 1px solid $border-table-color !important;
      }

      td:last-child,
      th:last-child {
        border-right: 1px solid $border-table-color  !important;
      }
    }

    .row-bottom-sticky {
      position: sticky;
      z-index: 4;
      width: 100%;
      height: 1px;
      bottom: 0;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0px;
        border-bottom: 1px solid #eee;
      }
    }
  }
}

.custom-card {
  margin-bottom: 0px;
  position: relative;
  border-radius: 0px;
  padding: 0.5em 1em !important;
  min-height: calc(100vh - 54px);

  &[height-type="0"] {
    min-height: calc(100vh - 54px);
  }

  &[height-type="1"] {
    min-height: 150px;
  }

  &[height-type="-1"] {
    min-height: 0;

    &.flex-container-fit-child {
      height: auto;
    }

    &.flex-container-fit-child>div.fit-content>div {
      position: unset;
    }
  }
}

.title-schema {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 2px solid #cfcfcf;
  color: #025ba7;
  padding: 0px 0 15px 5px;

  &.no-border {
    border-bottom: none;
  }
}
