<div style="height: 100%">
  <tn-tabview [data]="mainTabData" [allowViewAll]="true" [(activeIndex)]="activeIndex">
    <ng-template #thongTinChung>
      <crud-form #crudForm [data]="model.data" [setting]="setting" (onFormReady)="_handleFormReady($event)">
      </crud-form>
    </ng-template>
    <ng-template #khenThuong>
      <hosonguoihoc-khenthuong [idNguoiHoc]="model.data._id"></hosonguoihoc-khenthuong>
    </ng-template>
    <ng-template #thongTinTuyenSinh>
      <hosonguoihoc-thongtintuyensinh [idNguoiHoc]="model.data._id"></hosonguoihoc-thongtintuyensinh>
    </ng-template>
    <ng-template #quyetDinhHocTap>
      <hosonguoihoc-quyetdinhhoctap [idNguoiHoc]="model.data._id"></hosonguoihoc-quyetdinhhoctap>
    </ng-template>
    <ng-template #hocBong>
      <hosonguoihoc-hocbong [idNguoiHoc]="model.data._id"></hosonguoihoc-hocbong>
    </ng-template>
  </tn-tabview>
</div>
<ng-template #buttonTemplate>
  <!-- <button *ngIf="!model.data.__disableEdit && !__isFormView" type="button" pButton icon="pi pi-save"
    class="p-button-text" [label]="'Lưu'" (click)="_handleSave($event)"></button> -->
  <button type="button" pButton icon="pi pi-replay" class="p-button-text p-button-secondary" [label]="'Đóng'" preventTab
    (click)="_handleCancel($event)"></button>
</ng-template>
