<div style="width: 100%; height: 100%">
  <crud-list #crudList [model]="model" [setting]="setting" [dataSource]="model.dataSource" (onAdd)="_add($event)"
    (onEdit)="_edit($event)" (onDelete)="_delete($event)" (onReload)="_triggerProcessData($event)"
    (onReloaded)="_unmarkLoading()">
    <ng-template #buttonAfterToolbar let-rowData="rowData">
      <button type="button" pButton icon="pi pi-file-excel" class="p-button-text p-button p-comment p-button-secondary"
        label="Xuất danh sách">
      </button>
    </ng-template>
    <ng-template #buttonBefore let-rowData="rowData">
      <button type="button" pButton icon="pi pi-bars" class="p-button-text p-button-rounded p-button-info"
        pTooltip="Xem thông tin đã sửa" tooltipPosition="top"></button>
      <button *ngIf="rowData.idTrangThai == enumTrangThaiQuyetDinh.CHO_DUYET" type="button" pButton icon="pi pi-check"
        class="p-button-text p-button-rounded p-button-success" pTooltip="Phê duyệt" tooltipPosition="top"
        (click)="pheDuyetQuyetDinh(rowData)"></button>
      <button *ngIf="rowData.idTrangThai == enumTrangThaiQuyetDinh.CHO_DUYET" type="button" pButton icon="pi pi-times"
        class="p-button-text p-button-rounded p-button-danger" pTooltip="Từ chối" tooltipPosition="top"
        (click)="tuChoiQuyetDinh(rowData)"></button>
      <button type="button" pButton icon="pi pi-eye" class="p-button-text p-button-rounded p-button-info"
        pTooltip="Xem hồ sơ" tooltipPosition="top" (click)="view(rowData)"></button>
      <button type="button" pButton icon="pi pi-history" class="p-button-text p-button-rounded p-button-secondary"
        pTooltip="Xem quá trình xử lý" tooltipPosition="top"></button>
    </ng-template>
  </crud-list>
</div>

<tn-dialog *ngIf="showDetailForm" #dialog [styleClass]="'address-form'" [header]="setting.popupHeader"
  [popupSize]="setting.popupSize" (onHide)="showDetailForm = false">
  <danhsachsinhviencapnhathoso-form #formBase [parentSetting]="setting" [model]="formModel"
    (onSaved)="showDetailForm = false;crudList.reload()" (onCancel)="_handleCancel($event)">
  </danhsachsinhviencapnhathoso-form>
</tn-dialog>

<tn-dialog *ngIf="hoSoModel.showEditForm" #dialog [header]="hoSoModel.header" [popupSize]="hoSoModel.popupSize"
  (onHide)="hoSoModel.showEditForm = false">
  <hosonguoihoc-form #formBase [parentSetting]="setting" [model]="hoSoModel.data.formModel"
    (onSaved)="hoSoModel.showEditForm = false;" (onCancel)="hoSoModel.showEditForm = false">
  </hosonguoihoc-form>
</tn-dialog>
